/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.breadcrumbs > ul > li + :before {
  content: '>';
  display: block;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  opacity: 0.4;
  width: 6px;
  font-weight: 100;
  font-size: small;
  transform: none;
  border-top: 0;
  border-right: 0;
  height: initial;
}

ul.markdown {
  list-style-type: disc;
  padding: 2em;
}

ul.markdown > li.task-list-item {
  list-style: none;
  margin-left: -1.25em;
}

.fibonacci0 {
  --value: 0;
}
.fibonacci1 {
  --value: 1;
}
.fibonacci2 {
  --value: 2;
}
.fibonacci3 {
  --value: 3;
}
.fibonacci5 {
  --value: 5;
}
.fibonacci8 {
  --value: 8;
}
.fibonacci13 {
  --value: 13;
}
.fibonacci21 {
  --value: 21;
}

.focus-glow:focus > * {
  text-shadow: 0 0 2px #d2d2d2, 0 0 4px #9affff;
  transition: all 0.5s ease-in-out !important;
}
.countdown > * {
  height: 1.2em;
  /* color: hsla(var(--bc) / var(--tw-text-opacity, 1)); */
}

.countdown > :before {
  top: calc(0.15em + var(--value) * -1em);
}
